<div class="bg-neutral-800">
  <footer class="mx-auto py-10 container">
    <div class="flex flex-wrap justify-center gap-3 mb-10 align-center">
      {% for item in site.footer_items %}
      <a class="btn btn-secondary btn-ghost">{{item.title}}</a>
      {% endfor %}
    </div>
    <div class="flex justify-center items-center gap-3 mb-10">
      {% for item in site.social_media %}
      <a
        title="{{item.title}}"
        href="{{item.url}}"
        class="btn btn-ghost btn-circle"
      >
        <i class="fa {{item.icon}} text-xl"></i>
      </a>
      {% endfor %}
    </div>
    <p class="text-center">© {{ 'now' | date: '%Y' }} {{site.title}}.</p>
  </footer>
</div>
